$green:  #3AAE68 !default;
$blue: #009EA1;
$red: #CD0119;
$yellow: #FCEB51;
$orange: #F59920;
$pink: #FE6960;
$purple: #764BA9;
$principalColor:  $green !default;
$linkColor: $principalColor !default;

$progress-bg: #43AD11;
$progress-bar-color: #fff;
$progress-bar-bg: #43AD11;
$progress-bar-success-bg: #2E8505;
$progress-bar-warning-bg: #2E8505;
$progress-bar-danger-bg: #2E8505;
$progres-bar-info-bg: #2E8505;