/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require social_stream
 *= require_tree .
 */

header a:hover {
	background-color:#FFFFFF !important;
}

a:hover {
	background-color:#FFFFFF !important;
}

header .navbar-inner .logo, header .navbar-inner .logo-responsive {
    padding-left:30px;
}


.logo-header-in .top-plane-shape {
    background: none repeat scroll 0 0 #43AD11 !important;
    border: 4px solid #43AD11 !important;
    height: 10px;
    margin-top: -4px;
    width: 10px;
}
.logo-header-in .left-plane-shape {
    background: none repeat scroll 0 0 #43AD11 !important;
    border: 4px solid #43AD11 !important;
    height: 10px;
    margin-left: 35px;
    margin-top: 16px;
    width: 10px;
}

.progress-striped .bar {
	background-image: none;
	background-color: #43AD11 !important;
}
.progress .bar {
    background-color: #43AD11;
    background-image: -moz-linear-gradient(center top , #43AD11, #2E8505);

}